* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: "Alegreya", serif;
  background-color: #f2f2f2;
  color: #0D0D0D;
  width: 100%; }

.subtitle__principal {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  color: black; }

.subtitle__secundario, .us__container-sub {
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  color: #A64208;
  margin-top: 4rem; }

button, .card__product__btn, .register button, .form__btn button {
  font-family: 'Alegreya', serif;
  font-size: 1.2rem;
  background-color: #BF6E50;
  color: white;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid #0D0D0D;
  transition: background-color 1s; }
  button:hover, .card__product__btn:hover {
    background-color: #A64208; }
  button:active, .card__product__btn:active {
    font-size: 1.1rem; }

header {
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: linear-gradient(90deg, #bf6e50 60%, #ba6f6f 100%); }

.navbar__menu {
  display: flex; }
  .navbar__menu-dropdown img {
    margin-top: 0.5rem;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1rem; }
  .navbar__menu-dropdown ul {
    color: white;
    background-color: #BF6E50; }
  .navbar__menu-title {
    font-size: 3.5rem;
    color: white;
    padding-left: 1.5rem;
    text-decoration: none; }
    .navbar__menu-title:hover {
      color: white; }

.navbar__pages {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  font-size: 1.5rem; }
  .navbar__pages ul {
    display: flex;
    gap: 2rem; }
    .navbar__pages ul li a {
      text-decoration: none;
      color: white;
      font-family: "Fjalla One", sans-serif;
      transition: all 0.3s; }
      .navbar__pages ul li a:hover {
        border-bottom: 2px white solid; }
  .navbar__pages-buy img {
    width: 3rem;
    height: 3rem;
    margin: 1rem; }

main {
  padding-bottom: 3rem;
  margin: 0 auto; }

.banner {
  display: flex; }
  .banner h1 {
    font-size: 3.5rem;
    color: #A64208;
    width: 30%;
    padding-left: 1.5rem;
    padding-top: 3.5rem; }
  .banner img {
    height: 30rem;
    width: 70%;
    border-bottom-right-radius: 2rem; }

.carousel {
  margin: 4rem auto;
  width: 35rem; }
  .carousel-item {
    width: 100%;
    height: 35rem; }
    .carousel-item img {
      width: 100%;
      height: 100%; }

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
  justify-items: center;
  background-color: #f2f2f2;
  border-style: hidden; }
  .card__product {
    height: 20rem;
    width: 20rem;
    border-radius: 3rem;
    box-shadow: 50px 50px 20px -20px rgba(0, 0, 0, 0.3);
    margin-bottom: 12rem; }
    .card__product img {
      height: 100%;
      width: 100%;
      border-radius: 3rem;
      margin-bottom: 1rem;
      transition: transform 0.3s; }
      .card__product img:hover {
        transform: scale(1.1);
        cursor: pointer;
        cursor: hand; }
    .card__product h3 {
      font-family: "Alegreya", serif;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 0.5rem; }
    .card__product p {
      font-family: "Fjalla One", sans-serif;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 0.5rem; }
    .card__product__btn {
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      border: 3px outset #BF6E50;
      padding: 1px; }
      .card__product__btn:hover {
        color: white; }

.register label {
  font-size: 1rem;
  color: #0D0D0D;
  padding-left: 1.5rem; }

.register input {
  border: 2px solid black;
  width: 200px;
  height: 1.5rem; }

.footer__grid {
  font-family: "Fjalla One", sans-serif;
  background-color: #BFBBBA;
  color: #0D0D0D;
  border-top: 2px solid #0D0D0D;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr; }
  .footer__grid-insta h4 {
    font-size: 1.8rem; }
  .footer__grid-insta img {
    width: 1.5rem;
    height: 1.5rem; }
  .footer__grid-insta a {
    font-size: 1.2rem;
    color: #0D0D0D;
    text-decoration: none;
    transition: all 0.3s; }
    .footer__grid-insta a:active {
      font-size: 1.3rem; }
  .footer__grid-paid h4 {
    font-size: 1.8rem; }
  .footer__grid-paid span {
    display: flex;
    font-size: 1.2rem; }
    .footer__grid-paid span i {
      margin-right: 0.5rem; }
  .footer__grid-wsp {
    position: fixed;
    bottom: 3rem;
    right: 0.5rem;
    z-index: 20; }
    .footer__grid-wsp img {
      width: 3rem;
      height: 3rem; }

.us {
  padding-bottom: 0rem;
  margin-top: 0rem;
  width: 100%; }
  .us__container {
    background: rgba(0, 0, 0, 0.7) url("../Assets/moda.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem; }
    .us__container-sub {
      color: white;
      margin-top: 0rem; }
    .us__container-description {
      font-family: "Frank Ruhl Libre", serif;
      color: white;
      font-size: 1.6rem;
      text-align: justify;
      line-height: 1.5;
      margin-top: 20rem;
      padding: 0 5rem; }

.form {
  background: linear-gradient(180deg, #bf6e50 60%, #ba6f6f 100%);
  color: white;
  font-family: "Alegreya", serif;
  font-weight: bold;
  width: 30rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 3rem; }
  .form__data label {
    display: flex;
    padding: 1rem; }
  .form__data input {
    border: 1px solid black;
    width: 80%;
    height: 2rem; }
  .form__data textarea {
    display: flex;
    border: 1px solid black;
    width: 80%; }
  .form__btn .card__product__btn, .form__btn button {
    margin-top: 1rem; }

.table {
  margin: 1rem; }
  .table__head {
    background: linear-gradient(90deg, #bf6e50 60%, #ba6f6f 100%);
    font-family: "Alegreya", serif;
    color: white; }
  .table__body {
    font-family: "Fjalla One", sans-serif;
    font-weight: bold; }

.btn__carrito {
  margin-left: 1rem; }

.reset {
  width: 2rem;
  height: 2rem; }

@media screen and (min-width: 786px) {
  .navbar__menu-dropdown {
    display: none; } }

@media screen and (max-width: 785px) {
  .navbar__pages ul {
    display: none; }
  .navbar__pages-buy {
    margin-bottom: 2.3rem; } }

@media screen and (max-width: 1024px) {
  .banner {
    height: 25rem; }
    .banner img {
      height: 100%; } }

@media screen and (max-width: 930px) {
  .banner {
    height: 20rem; }
    .banner h1 {
      font-size: 3rem; } }

@media screen and (max-width: 768px) {
  .banner {
    display: inline-block;
    margin-bottom: 8rem; }
    .banner img {
      width: 100%; }
    .banner h1 {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      padding-top: 1.5rem; } }

@media screen and (max-width: 375px) {
  .banner img {
    height: 15rem; } }

@media screen and (max-width: 570px) {
  .carousel {
    width: 100%; }
    .carousel-item {
      height: 35rem; } }

@media screen and (max-width: 500px) {
  .carousel-item {
    height: 30rem; } }

@media screen and (max-width: 425px) {
  .carousel-item {
    height: 25rem; } }

@media screen and (max-width: 320px) {
  .carousel-item {
    height: 20rem; } }

@media screen and (max-width: 600px) {
  .subtitle__principal {
    font-size: 1.5rem; } }

@media screen and (max-width: 425px) {
  .subtitle__principal {
    font-size: 1rem; }
  .subtitle__secundario, .us__container-sub {
    font-size: 1.5rem; } }

@media screen and (max-width: 1042px) {
  .card {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 710px) {
  .card {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 425px) {
  .card__product {
    height: 25rem;
    width: 90%; } }

@media screen and (max-width: 375px) {
  .card__product {
    height: 20rem; } }

@media screen and (max-width: 320px) {
  .card__product {
    height: 18rem;
    width: 90%; } }

@media screen and (max-width: 708px) {
  .register .card__product__btn, .register button {
    margin-left: 1.5rem; } }

@media screen and (max-width: 645px) {
  .register input {
    margin-left: 1.5rem; }
  .register .card__product__btn, .register button {
    margin-left: 0;
    font-size: 1rem; } }

@media screen and (max-width: 441px) {
  .register label {
    font-size: 0.8rem; } }

@media screen and (max-width: 359px) {
  .register label {
    font-size: 0.7rem; } }

@media screen and (max-width: 924px) {
  .us__container-description {
    font-size: 1.3rem; } }

@media screen and (max-width: 690px) {
  .us__container {
    height: 30rem; }
    .us__container-description {
      margin-top: 12rem;
      font-size: 1rem;
      padding: 0 3rem; } }

@media screen and (max-width: 475px) {
  .us__container {
    height: 25rem; }
    .us__container-description {
      margin-top: 5rem; } }

@media screen and (max-width: 375px) {
  .us__container-description {
    margin-top: 3rem;
    padding: 0 1rem; } }

@media screen and (max-width: 645px) {
  .form {
    width: 25rem; } }

@media screen and (max-width: 440px) {
  .form {
    width: 16rem; } }

@media screen and (max-width: 425px) {
  .footer__grid {
    grid-template-columns: 2fr; }
    .footer__grid-paid {
      margin-top: 1.5rem; } }
