.footer__grid {
    font-family: $navLetter;
    background-color: map-get($map: $colores, $key: bgFooter);
    color: #0D0D0D;
    border-top: 2px solid #0D0D0D;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;

    &-insta { 
        
        & h3 {
            font-size: 1.8rem;
        }

        & img {
            width: 1.5rem;
            height: 1.5rem;
        }

        & a {
            font-size: 1.2rem;
            color: #0D0D0D;
            text-decoration: none;
            transition: all 0.3s;

            &:active {
                font-size: 1.3rem;
            }
        }
    }

        &-paid {

            & h3 {
                font-size: 1.8rem;
            }

            & h4 {
                font-size: 1.2rem;
            }
        }

        &-wsp {
            position: fixed;
            bottom: 3rem;
            right: 0.5rem;
            z-index: 20;

            & img {
                width: 3rem;
                height: 3rem;
            }
        }
}