* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: $titlesLetter;
    background-color: $bgColor;
    color: #0D0D0D;
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    color: black;
}

button {
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    background-color: $btColor;
    color: white;
    padding: 1px;
    border-radius: 10px;
    border: 2px solid #0D0D0D;
    transition: background-color 1s;

    &:hover{
        background-color: $btColorDark;
    }
}