header {
    height: 5rem;
    position: sticky;
    top: 0;
    border-bottom-right-radius: 1rem;
    z-index: 10;
    background: map-get($map: $colores, $key: colorGradiente);
}

.navbar {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;

    &__menu {
        display: flex;

        &-dropdown ul {
            color: white;
            background-color: map-get($map: $colores, $key: btColor);
        }

        &-title {
            font-size: 3.5rem;
            color: white;
            padding-left: 1.5rem;
            text-decoration: none;

                &:hover {
                    color: white;
                }
            }
    }

    &__pages {
        display: flex;
        justify-content: end;

        & ul {
            display: flex;
            gap: 2rem;
            padding-top: 1.5rem;

            & li a {
                text-decoration: none;
                color: white;
                font-family: $navLetter;
                transition: all 0.3s;

                &:hover {
                    border-bottom: 2px white solid;
                }
            }
        }

        &-buy img {
            width: 3rem;
            height: 3rem;
            margin: 1rem;
        }
    }    
    
}