@media screen and (max-width: 700px) {
    .navbar {
        grid-template-columns: 3fr;
    }

    header {
        height: 8rem;
    }

    .navbar__pages ul {
        justify-content: left;
        padding-left: 1.5rem;
        margin-top: 0rem;
    }
}

@media screen and (max-width: 518px) {
    .navbar__pages ul {
        display: none;
    }

    .navbar {
        padding-left: 1.5rem;
    }

    header {
        height: 5rem;
    }

    .form {
        width: 20rem;
    }
}

@media screen and (min-width: 519px) {
    .navbar__menu-dropdown {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .banner{
        height: 25rem;
    }

    .banner img {
        height: 100%;
    }
}


@media screen and (max-width:930px) {

    .banner {
        height: 20rem;
    }

    .banner img {
        height: 100%;
    }

    .banner h1 {
        font-size: 3rem;
    }
    
}


@media screen and (max-width: 768px) {
    .banner{
        display:inline-block;
        margin-bottom: 10rem;
    }

    .banner img {
        display: inline-block;
        width: 100%;
    }

    .banner h1 {
        width: 100%;
        display: inline-block;
    }
}

@media screen and (max-width:700px) {
    .banner {
        margin-bottom: 13rem;
    }

    .banner img {
        height: 25rem;
    }
}

@media screen and (max-width:500px) {
    .banner img {
        height: 20rem;
    }
}

@media screen and (max-width:375px) {
    .banner img {
        height: 15rem;
    }
}

@media screen and (max-width:750px) {
    .carousel-item {
        width: 30rem;
        height: 30rem;
    }
}


@media screen and (max-width: 518px) {
    .carousel-item {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 375px) {
    .carousel-item {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width:1042px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:710px) {
    .card {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:390px) {
    .card__product {
        height: 15rem;
        width: 15rem;
    }
}

@media screen and (max-width:425px) {
    .subtitle__secundario {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:900px) {
    .description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:425px) {

    .description {
        font-size: 1.2rem;
    }
    
    .footer__grid {
        grid-template-columns: 2fr;
    }

    .footer__grid-paid {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width:705px) {
    .register button {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 645px) {
    .register input {
        margin-left: 1.5rem;
    }

    .register button {
        margin-left: 0;
    }

    .form {
        width: 25rem;
    }
}

@media screen and (max-width: 441px) {
    .register label {
        font-size: 0.8rem;
    }

    .register button {
        height: 2rem;
        width: 3rem;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 359px) {
    .register label {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:440px) {
    .form {
        width: 18rem;
    }
}

@media screen and (max-width:440px) {
    .form__fieldset label{
        display: flex;
    }
}