// Breakpoints del header
@media screen and (min-width: 786px) {
    .navbar__menu-dropdown {
        display: none;
    }
}

@media screen and (max-width: 785px) {
    .navbar__pages ul {
        display: none;
    }

    .navbar__buy {
        margin-bottom: 2rem;
    }
}

// Breakpoints del main del index

@media screen and (max-width: 1024px) {
    .banner{
        height: 25rem;
    }

    .banner img {
        height: 100%;
    }
}

@media screen and (max-width:930px) {

    .banner {
        height: 20rem;
    }

    .banner img {
        height: 100%;
    }

    .banner h1 {
        font-size: 3rem;
    }
    
}

@media screen and (max-width: 768px) {
    .banner{
        display:inline-block;
        margin-bottom: 10rem;
    }

    .banner img {
        display: inline-block;
        width: 100%;
    }

    .banner h1 {
        width: 100%;
        display: inline-block;
    }
}

@media screen and (max-width:700px) {
    .banner {
        margin-bottom: 13rem;
    }

    .banner img {
        height: 25rem;
    }
}

@media screen and (max-width:500px) {
    .banner img {
        height: 20rem;
    }
}

@media screen and (max-width:375px) {
    .banner img {
        height: 15rem;
    }
}

@media screen and (max-width:570px) {

    .carousel {
        width: 100%;
    }
    .carousel-item {
        height: 35rem;
    }
}

@media screen and (max-width: 500px) {
    .carousel-item {
        height: 30rem;
    }
}

@media screen and (max-width: 425px) {
    .carousel-item {
        height: 25rem;
    }
}

@media screen and (max-width: 320px) {
    .carousel-item {
        height: 20rem;
    }
}

@media screen and (max-width:1042px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:710px) {
    .card {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:425px) {
    .card__product {
        height: 25rem;
        width: 90%;
    }
}    

@media screen and (max-width:375px) {
    .card__product {
        height: 20rem;
    }
}

@media screen and (max-width:320px) {
    .card__product {
        height: 18rem;
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .subtitle__principal {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:425px) {
    .subtitle__principal {
        font-size: 1rem;
    }

    .subtitle__secundario {
        font-size: 1.5rem;
    }
}

// Breakpoints del main en la página nosotros

@media screen and (max-width:805px) { 
    .us__container {
        height: 30rem;
    }

    .us__container-description {
        font-size: 1.3rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width:660px) {    
    .us__container-description {
        margin-top: 7rem;
    }
}

@media screen and (max-width:500px) {    
    .us__container-description {
        font-size: 1rem;
    }
}

@media screen and (max-width:425px) {    
    .us__container {
        height: 25rem;
    }
}

@media screen and (max-width:375px) {    
    .us__container-description {
        margin-top: 3rem;
    }
}


// Breakpoints del main de página nosotros y footer

@media screen and (max-width:425px) {

    .description {
        font-size: 1.2rem;
    }
    
    .footer__grid {
        grid-template-columns: 2fr;
    }

    .footer__grid-paid {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width:705px) {
    .register button {
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 645px) {
    .register input {
        margin-left: 1.5rem;
    }

    .register button {
        margin-left: 0;
    }

    .form {
        width: 25rem;
    }
}

// Breakpoints del main de la página contacto

@media screen and (max-width: 441px) {
    .register label {
        font-size: 0.8rem;
    }

    .register button {
        height: 2rem;
        width: 3rem;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 359px) {
    .register label {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:440px) {
    .form {
        width: 18rem;
    }
}

@media screen and (max-width:440px) {
    .form__fieldset label{
        display: flex;
    }
}