<h4 id="nombreUsuario"></h4>
<form action="" id="form">
    Ingrese su email: <input type="email" name="email" id="email">
    Ingrese su mensaje: <input type="text" name="mensaje" id="message">
    <input type="submit" value="ENVIAR" id="btn">

    <p id="chat"></p>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="socket.js"></script>
</form>