<h1>LOG IN</h1>
<form action="/login" method="post">
    <input type="email" name="email" id="email" placeholder="Ingresa tu email">
    <input type="password" name="password" id="password" placeholder="Ingresa tu password">
    <input type="submit" value="INGRESAR">
</form>

<h3>¿OLVIDASTE TU CONTRASEÑA?</h3>
<button onclick="location.href='/olvidemicontrasena'">Recuperar contraseña</button>

<h2>INGRESAR CON TU CUENTA DE GITHUB</h2>
<button onclick="location.href='/registroGithub'">GITHUB</button>

<h2>INGRESA CON TU CUENTA DE GMAIL</h2>
<button onclick="location.href='/registroGoogle'">GMAIL</button>

<h2>¿NO ESTAS REGISTRADO?</h2>
<button onclick="location.href='/registro'">Ir a Registro</button>