<h1>LOG IN</h1>
<form action="/users/login" method="post">
    <input type="email" name="email" id="email" placeholder="Ingresa tu email">
    <input type="password" name="password" id="password" placeholder="Ingresa tu password">
    <input type="submit" value="INGRESAR">
</form>

<h2>INGRESAR CON TU CUENTA DE GITHUB</h2>
<button onclick="location.href='/users/registroGithub'">GITHUB</button>

<h2>¿NO ESTAS REGISTRADO?</h2>
<button onclick="location.href='/registro'">Ir a Registro</button>