@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Alegreya:wght@700&family=Frank+Ruhl+Libre:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: $titlesLetter;
    background-color: map-get($map: $colores, $key: bgColor);
    color: #0D0D0D;
    width: 100%;
}

@mixin subtitle($size, $alineacion, $color) {
    font-size: $size;
    display: flex;
    justify-content: $alineacion;
    margin: 2rem 0;
    color: $color;
}

.subtitle__principal {
    @include subtitle (2rem, center, black);
}

.subtitle__secundario {
    @include subtitle (2.3rem, center, map-get($map: $colores, $key: btColorDark));
    margin-top: 4rem;
}

button {
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    background-color: map-get($map: $colores, $key: btColor);
    color: white;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #0D0D0D;
    transition: background-color 1s;

        &:hover{
            background-color: map-get($map: $colores, $key: btColorDark);
        }

        &:active {
            font-size: 1.1rem;
        }
}
